/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace components "com.worlize.view.components.*";

@font-face {
	src: url("assets/fonts/PT_Sans_Narrow_Bold.ttf");
	fontFamily: PTSansNarrowBold;
	embedAsCFF: true;
}

@font-face {
	src: url("assets/fonts/Tuffy.ttf");
	fontFamily: Tuffy;
	embedAsCFF: true;
}

@font-face {
	src: url("assets/fonts/Tuffy_Bold.ttf");
	fontFamily: Tuffy;
	fontWeight: bold;
	embedAsCFF: true;
}

components|DynamicHeightList {
	skinClass: ClassReference("com.worlize.view.skins.DynamicHeightListSkin"); 
}

s|Button s|Label, s|DropDownList s|Label {
	fontFamily: PTSansNarrowBold;
	fontSize: 14pt;
}

global {
	modal-transparency-blur: 0;
	modal-transparency-duration: 0;
	focusColor: #FFFFFF;
}

s|Label {
	fontFamily: Tuffy;
	fontSize: 14px;
}

s|TextInput {
	fontFamily: Tuffy;
	contentBackgroundColor: #f2f2f2;
	color: #858585;
}

s|TextInput.big {
	fontSize: 18px;	
}

s|TextInput.YouTubeURLField {
	contentBackgroundColor: #333333;
	color: #FFFFFF;
	font-family: Arial;
	font-weight: normal;
	font-size: 11pt;
}

.topNavButton {
	fontFamily: PTSansNarrowBold;
	fontSize: 14pt;
	paddingTop: 0px;
	paddingBottom: 1px;
	paddingLeft: 1px;
	paddingRight: 7px;
	cornerRadius: 12px;
	rollOverColor: #e6e3dc;
}

.pushToTalkButton {
	fontFamily: PTSansNarrowBold;
	fontSize: 14pt;
	cornerRadius: 10px;
	skinClass: ClassReference("com.worlize.view.skins.PushToTalkButtonSkin");
}

.pushToTalkButton s|Label {
	fontFamily: PTSansNarrowBold;
	fontSize: 14pt;
	color: #FFFFFF;
}

.lockerNavButton {
	fontFamily: Tuffy;
	fontSize: 16pt;
	fontWeight: bold;
	paddingTop: 0px;
	paddingBottom: 1px;
	paddingLeft: 2px;
	paddingRight: 5px;
	cornerRadius: 14px;
	rollOverColor: #e6e3dc;
}

.friendsNavButton {
	fontFamily: Tuffy;
	fontSize: 13pt;
	fontWeight: bold;
	paddingTop: 0px;
	paddingBottom: 1px;
	paddingLeft: 7px;
	paddingRight: 7px;
	cornerRadius: 14px;
	rollOverColor: #e6e3dc;
}


.chatWindowWorldTitle {
	color: #1076a4;
	fontFamily: PTSansNarrowBold;
	fontSize: 14pt;
}

.chatWindowVisitorsTitle {
	color: #0c9dea;
	fontFamily: PTSansNarrowBold;
	fontSize: 14pt;
}

mx|ToolTip {
	fontFamily: PTSansNarrowBold;
	fontSize: 14pt;
	backgroundColor: #FFFFFF;
	cornerRadius: 0;
}

mx|ProgressBar {
	chrome-color: #333333;
	color: #BBBBBB;
}

mx|Menu {
	text-align: left;
	paddingTop: 2px;
	paddingBottom: 2px;
	paddingLeft: 5px;
	paddingRight: 5px;
}
